$light-grey: #CCCCCC;
$brand-grey: #A1A1A1;
$dark-grey: #666666;

html,
body {
  margin: 0;
  padding: 0;
}

body {
    background: #fafafa;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    font-size: 14px;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.nav {
  @extend .no-print;
  background-color: $brand-grey;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid $dark-grey;

  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  &::after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.contents {
  padding: 10px;
}

.fileBox {
  border: 1px solid $light-grey;
  border-radius: 2px;
  margin-bottom: 10px;
}

.fileName {
  padding: 10px;
  border-bottom: 1px solid $light-grey;
}

.fileContents pre {
  margin: 0;
}

.navSelect,
.navFiles {
  margin-left: 10px;
}

.footer {
  @extend .no-print;

  text-align: center;
  padding: 10px;

  hr {
    max-width: 50%;
    background-color: $dark-grey;
    border: none;
    height: 1px;
  }

  a,
  a:visited,
  a:active {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
